:root{
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
}


body {
  margin-bottom: 40px;
  height: 100%;
  background-color: blue;
  margin: 0;
  font-family: consolas;
}

html{
  min-height: 100%;
  position: relative;
}

.header {
  background: rgb(34, 29, 29);
  padding: 20px;
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
}

.header-btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  width: 80px;
}

.header-btn:hover{
  cursor: pointer;
  color: gray;
}

.header-menu {
  display: none;
  padding-bottom: 10px;
  animation: header_menu_active 2s;
}

.header-menu a:hover{
  color: gray;
}

@keyframes header_menu_active {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

.header-menu a {
  color: white;
  text-decoration: none;
}

.introduccion{
  display: block;
  background-color: aqua;
  text-align: center;
  height: 400px;
  /* Necesario tener en relative la posicion para poder centrar el div hijo */
  position: relative;
}

.texto{
  /* background-color: blueviolet; */
  /* Inicio del centrado del div hijo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Finalizacion del centrado */
}

.introduccion h1{
  margin: 0;
  font-size: 60px;
}

.introduccion p{
  margin: 0;
  font-size: large;
  font-style: italic;
}

/* Personalizacion footer */

.footer{
  background-color: rgb(34, 29, 29);
  height: 40px;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.footer p{
  /* background-color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-top  {
    padding-bottom: 0;
  }

  .header-menu {
    padding-top: 0;
    display: block !important;
  }

  .header-menu a{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .header-menu a:hover{
    color: gray;
  }

  .header-menu ul {
    flex-direction: row;
  }

  .header-btn {
    display: none;
  }
}